# Ignore shader languages for GitHub language stats
*.shader linguist-language=C#
*.hlsl linguist-language=C#
*.cginc linguist-language=C#

# Ignore Unity material / asset files that GitHub mislabels as Wolfram
*.mat linguist-language=C#
*.asset linguist-language=C#
*.unity linguist-language=C#

